<div class="container site-content">
{{# if products }}
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 width-big">
      <ul class="list-group">
        {{# each products}}
          <li class="list-group-item">
            <span class="badge">{{ this.qty}}</span>
            <h4>{{this.item.title}}</h4>
            <ul class="list-group">
              {{# each this.size}}
              {{#if this}}<li class="list-group-item"> {{@key}}: {{this}}
                <a class="btn btn-default pull-right" href="/reduce/{{../item._id}}/{{@key}}">Reduce</a>
              </li>{{/if}}
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <h3 class="text-white">Total: {{this.totalPrice}}</h3>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 padding-bottom-30">
      <a href="/shipping-check" type="button" class="btn btn-success">Checkout</a>
    </div>
  </div>
{{ else}}
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <h2>Put something in your muthafucken cart.</h2>
    </div>
  </div>

{{/if}}

</div>

{{> footer}}
